---
bind: 127.0.0.1:6578
group_name: "cluster_1"

timeout:
  # Timeout in ms
  sentinels: 5000
  worker_idle_timeout: 5000

sentinels:
  address:
    - 127.0.0.1:26000
    - 127.0.0.1:26001
    - 127.0.0.1:26002
  check_freqency: 1500

log:
  file: log4rs.yml
  logo: true

workers:
  pool:
    min: 2
    max: 4